@model IEnumerable<PetLover.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: white;">Inicio</h1>

<p>
    <a asp-action="Create" style="color: white;">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.Name)
            </th >
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.ImagenName)
            </th>
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Name)
            </td >
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.ImagenName)
            </td >
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" style="color: white;" style="color: white;">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" style="color: white;" style="color: white;">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" style="color: white;" style="color: white;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
